<nav class="main-nav">
    <div class="left">
        <h1 class="nav-title"><a href='{{ .Site.BaseURL }}'>{{ .Site.Params.name }}</a></h1>
    </div>

    <div class="nav-item right">
        {{ range .Site.Menus.main }}
            <a href='{{ .URL }}'>{{ .Name }}</a>
        {{ end }}
        
        <div class="blog-icons">
            {{ with .Site.Social.github }}<a href="{{ . }}"><img src="/images/github.svg"></a>{{ end }}
            {{ with .Site.Social.twitter }}<a href="{{ . }}"><img src="/images/twitter.svg"></a>{{ end }}
            {{ with .Site.Social.photography }}<a href="{{ . }}"><img src="/images/camera.svg"></a>{{ end }}
        </div>
    </div>
</nav>
