// Variables
$color-gray: #b3b3b3;
$color-light-gray: rgba(0, 0, 0, .4);
$color-dark-gray: #45484d;
$color-blue-black: #212226;

$color-black: #000;
$color-white: #fff;

$color-yellow: #ffc336;
$color-orange: #f26a3d;

$color-primary: $color-orange;

$border-color-black: rgba(0, 0, 0, .5);
$border-color-white: rgba(255, 255, 255, .5);

$font-system: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

// Basics
html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-family: $font-system;
    font-size: 2em;
    font-weight: 400;
    line-height: 1.5em;
    overflow-x: hidden;
    color: $color-dark-gray;
    text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4 {
    font-weight: 600;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.2em;
}

a {
    font-weight: 400;
    transition: all ease-out .2s;
    text-decoration: none;
    color: $color-blue-black;

    &:hover {
        color: #000;
    }

    &:focus {
        color: #000;
    }
}

p {
    margin: 1.2em 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 2.5em auto;
}

.fluid-width-video-wrapper {
    margin: 2.5em auto;
}

.clear {
    clear: both;
}

.hidden {
    display: none;
}

pre {
    font-size: .9em;
    overflow-x: scroll;
}

code {
    font-size: .9em;
    overflow-x: scroll;
}

// Footer
footer {
    font-size: .8em;
    margin: 3em auto;
    text-align: center;
    color: $color-light-gray;
    text-shadow: $color-white 0 1px 0;

    p {
        margin: 0 0 1em;
    }

    a {
        text-decoration: none;
        color: $color-light-gray;

        &:hover {
            transition: all ease-out .2s;
            text-decoration: underline;
            color: $color-blue-black;
        }

        &:focus {
            transition: all ease-out .2s;
            text-decoration: underline;
            color: $color-blue-black;
        }
    }
}

// Container
.container {
    max-width: 800px;

    .post {
        padding: 3em 0;
    }
}

// Navigation
.main-nav {
    font-size: 1em;
    line-height: 1em;
    z-index: auto;
    display: flex;
    width: auto;
    max-width: 100%;
    margin: 1.2em auto;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 1.2em;
    text-transform: none;
    opacity: 1;
    color: $color-light-gray;
    align-items: center;
    border-bottom: 1px solid;
}

.left {
    flex-direction: column;
    text-align: left;
}

.right {
    flex-direction: column;
    margin-left: auto;
    text-align: right;
}

.nav-title {
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.2em;
    position: relative;
    z-index: 10;
    display: block;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: uppercase;
    color: $color-black;

    a {
        font-weight: inherit;
        text-decoration: none;
        color: inherit;
    }
}

.nav-description {
    font-size: .7em;
    line-height: .7em;
    position: relative;
    z-index: 10;
    display: block;
    margin: .25em 0;
    padding: 0;
}

.nav-item {
    a {
        color: $color-gray;

        &:active {
            color: $color-black;
        }

        &:hover {
            color: $color-black;
        }
    }
}

// Blog Header
.blog-header {
    position: relative;
    padding: 3em 0;
    text-align: center;

    &::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100%;
        height: 1px;
        margin-left: -50%;
        content: '';
        background: $color-light-gray;
    }
}

.blog-name {
    font-size: 3em;
    font-weight: 700;
    line-height: 1em;
    position: relative;
    z-index: 10;
    display: block;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: $color-black;

    a {
        font-weight: inherit;
        text-decoration: none;
        color: inherit;
    }
}

.blog-description {
    font-size: 1.5em;
    line-height: 1.5em;
    position: relative;
    z-index: 10;
    display: block;
    margin: .25em 0;
    padding: 0;
    color: $color-dark-gray;
}

.blog-icons {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        margin: .5em .8em 0;
        opacity: .7;

        &:hover {
            transition-duration: .2s;
            transition-property: opacity;
            opacity: 1;
        }
    }

    img {
        width: 1.5em;
        height: 1.5em;
        margin: auto;
    }
}

.nav-item {
    .blog-icons {
        img {
            width: 1em;
            height: 1em;
        }
    }
}

// Post Content
.post-header {
    .has-cover {
        overflow: hidden;
        padding: 16em 0 2em;
        background: $color-black;
    }
}

.post-cover {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: .5s ease-in forwards fadein;
    background: no-repeat scroll center center / cover #000;

    &::after {
        position: absolute;
        z-index: 8;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 12em;
        content: '';
        background: linear-gradient(to bottom, transparent 0%, $color-light-gray 100%);
    }
}

.post {
    position: relative;
    z-index: 10;
}

.post-title {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1em;
    position: relative;
    z-index: 10;
    margin: 0 0 .5em;
    text-indent: -1px;
    color: #000;

    a {
        font-weight: inherit;
        text-decoration: none;
        color: inherit;

        &:hover {
            transition-duration: .2s;
            transition-property: border;
            border-bottom: 1px solid;
        }
    }
}

.has-cover {
    .post-title {
        color: #fff;
    }

    .post-meta {
        opacity: .75;
        color: #fff;

        a {
            &:hover {
                border-color: $border-color-white;
            }

            &:focus {
                border-color: $border-color-white;
            }
        }
    }
}

// Post Info
.post-meta {
    font-size: .75em;
    font-weight: 400;
    line-height: 1.334em;
    position: relative;
    z-index: 10;
    display: block;
    margin-bottom: 1.334em;
    opacity: .5;

    a {
        text-decoration: none;
        color: inherit;
        border-bottom: 1px solid transparent;

        &:hover {
            border-color: $border-color-black;
        }

        &:focus {
            border-color: $border-color-black;
        }
    }
}

.post-excerpt {
    p {
        font-size: 1em;
        margin: .5em 0 0;
    }

    a {
        border-bottom: 1px solid $color-primary;

        &:hover,
        &:focus {
            color: $color-primary;
        }
    }
}

.post-content {
    a {
        border-bottom: 1px solid $color-primary;

        &:hover,
        &:focus {
            color: $color-primary;
        }
    }

    img {
        width: 110%;
        max-width: none;
        margin-left: -5%;
    }

    .fluid-width-video-wrapper {
        width: 110%;
        max-width: none;
        margin-left: -5%;
    }
}

.post-info {
    overflow: hidden;
    margin-top: 6em;
}

.post-tags {
    float: left;
    max-width: 75%;

    a {
        font-size: .75em;
        font-weight: 500;
        line-height: 1.334em;
        display: inline-block;
        box-sizing: border-box;
        margin: 0 .334em .667em 0;
        padding: .575em 1em;
        transition: all ease .3s;
        text-align: center;
        text-decoration: none;
        color: $color-primary;
        border: 1px solid $color-primary;
        border-radius: 2em;
        background: #fff;

        &:hover,
        &:focus {
            color: #fff;
            background: $color-primary;
        }
    }
}

// Paginator
.paginator {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;

    .button {
        margin: 0;
    }

    .pages {
        font-size: .8em;
        text-align: center;
        margin: 0;
        color: $color-dark-gray;
        flex-grow: 1;
    }
}

// Archive
.archive-title {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1em;
    margin: 0 0 .5em;
    text-indent: -1px;
    letter-spacing: 0;
    color: #000;
}

.archive-list {
    a {
        border-bottom: 1px solid $color-primary;

        &:hover,
        &:focus {
            color: $color-primary;
        }
    }
}

// Media Queries - Smaller than 960px
@media only screen and (max-width: 960px) {
    .main-nav {
        margin: 1em auto;
        padding-bottom: 1em;
    }
}

// Media Queries - Smaller than 640px
@media only screen and (max-width: 640px) {
    html {
        font-size: 50%;
    }

    .main-nav {
        margin: .8em auto;
        padding-bottom: .8em;
    }

    .post-tags {
        float: none;
        max-width: none;
        margin: 0 0 2em;
    }
}

// Media Queries - Smaller than 480px
@media only screen and (max-width: 480px) {
    .inner {
        padding: 0 16px;
    }


    .post-content {
        img {
            width: 100%;
            margin-left: auto;
        }

        .fluid-width-video-wrapper {
            width: 100%;
            margin-left: auto;
        }
    }
}
