{{ define "main" }}

    {{ $paginator := .Paginate (where .Data.Pages "Type" "posts") }}
    {{ range $paginator.Pages }}
        <article class="post">
            <header class="post-header">
                <h2 class="post-title"><a href='{{ .URL }}'>{{ .Title }}</a></h2>
                <span class="post-meta">
                    <time>{{ .Date.Format "January 2, 2006" }}</time>
                        {{ with .Params.categories }}
                        {{ if ge (len .) 1 }}
                             &middot; 
                            {{ range . }}
                                <a href="{{ printf "categories/%s" (. | urlize) | absURL }}">{{ . }}</a>
                            {{ end }}
                        {{ end }}
                    {{ end}}
                </span>
                <div class="clear"></div>
            </header>
            <section class="post-excerpt">
                <p>{{ .Description | markdownify }}</p>
                <a href='{{ .URL }}'>Continue reading →</span></a>
            </section>
        </article>
    {{ end }}

    {{ partial "site/pagination.html" . }}

{{ end }}
