{{ define "main" }}
<article class="post">
    <header class="post-header">
        <h2 class="post-title">{{ .Title }}</h2>
        <span class="post-meta">
            <time>{{ .Date.Format "January 2, 2006" }}</time>
            {{ with .Params.categories }}
                {{ if ge (len .) 1 }}
                 &middot; 
                    {{ range . }}
                        <a href="{{ printf "categories/%s" (. | urlize) | absURL }}">{{ . }}</a>
                    {{ end }}
                {{ end }}
            {{ end }}
        </span>
        <div class="clear"></div>
    </header>
    <section class="post-content">
        {{ .Content }}
    </section>
    {{ if eq (.Site.Params.displayPostTags) true }}
        <section class="post-tags">
            {{ with .Params.tags }}
                {{ if ge (len .) 1 }}
                    {{ range . }}
                        <a href="{{ printf "tags/%s" (. | urlize) | absURL }}">#{{ . }}</a>
                    {{ end }}
                {{ end }}
            {{ end }}
        </section>
    {{ end }}
</article>
{{ end }}
