<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
	{{ partial "header.html" . }}
<body>
    <div class="container">
        {{ if not .IsHome }}
            {{ partial "nav.html" . }}
        {{ end }}
        <section id="wrapper">
            {{ if .IsHome }}
                {{ partial "blog-header.html" . }}
            {{ end }}

            {{ block "main" . -}}{{- end }}

            {{ partial "footer.html" . }}
        </section>
    </div>
    {{ partial "js.html" . }}
</body>
</html>
